ion-card {
    position: relative;
    max-height: 150px;
    img {
        width: 100%;
        height: auto;
    }
    p{
        position: absolute;
        bottom: 0px;
        right: -10px;
        background: #ff9101;
        background: linear-gradient(90deg, rgba(255, 145, 1, 0) 1%, #ff9101 31%);
        color: #fff;
        padding: 3px 20px 3px 27px;
        font-weight: 600;
    }

    ion-col{
        position: inherit;
        text-align: center;
        h3{
            font-size: 28px;
            margin: 18px 0 0 0;
            font-weight: 100;
        }
        h4{
            font-size: 31px;
            font-weight: 600;
            margin: 8px 0 0 0;
        }
        img{
            max-height: 100px;
            width: auto;
        }
    }
}
