<app-header></app-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <ion-card *ngFor="let item of menu" routerLink="/bussines/{{item.name}}">
            <img src="assets/images/home/{{item.img}}" />
            <p>{{item.label | uppercase}}</p>
        </ion-card>
        <ion-card (click)="openEmergencias()">
            <ion-grid>
                <ion-row>
                    <ion-col size="8">
                        <h3>NÚMEROS DE</h3>
                        <h4>EMERGENCIA</h4>
                    </ion-col>
                    <ion-col>
                        <img src="assets/images/emergencias/emergencias.png" alt="">
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-card>
    </div>
</ion-content>
